{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block hero %}
      <div class="hero">
      </div>
{% endblock %}

{% block body %}
<div class="hero-overlay">

<div>
      <h1>Optimal nutrition made easy</h1>
</div>
      <div class="display-devices">
        <div class="phone device glass-card"></div>
        <div class="tablet device glass-card"></div>
      </div>
</div>
<div class="index-copy">
<h2>Welcome to PrepChef</h2> 
<p>      We believe that eating well should never come at the cost of convenience. That's why we've created a menu full of delicious and nutritious options that you can grab on the go.

      Our meals are made with fresh, whole ingredients that are sourced locally whenever possible. 
</p><p>We never use artificial preservatives, flavors, or colors, so you can feel good about what you're putting into your body.
      
      Whether you're looking for a quick breakfast to start your day, a satisfying lunch to power you through the afternoon, or a hearty dinner to fuel your evening, we've got you covered. From savory breakfast sandwiches to protein-packed salads to flavorful bowls, there's something for everyone on our menu.
      
      And don't forget about our sides and snacks! </p><p>We offer a variety of tasty options, like baked sweet potato fries, fresh fruit cups, and protein-packed snack packs.
      
      We believe that everyone should have access to healthy food that tastes great, no matter how busy their lives may be. So come visit us and see how delicious fast food can be when it's made with wholesome ingredients.</p>

</div>
{% endblock %}


